.Board {
  margin: auto;
  display: grid;

  grid-gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  width: 90vmin;
  height: 90vmin;

  cursor: pointer;
}

.Board-cluster {
  display: grid;

  grid-gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
}

.Board-cell {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-color: gray;
  border-style: solid;
  border-width: 0.2px;
  box-sizing: border-box;

  text-align: center;
  margin: auto;

  font-size: calc(90vmin / 16);
  font-weight: bold;

  color: #6060ff;
}

.Board-cell.dark.error {
  color: #ff6060;
}

.Board-cell.light.error {
  color: red;
}

.Board-cell.dark.locked {
  color: white;
}

.Board-cell.light.locked {
  color: black;
}

.Board-cell.dark.highlighted {
  background: #333333;
}

.Board-cell.light.highlighted {
  background: #eeeeee;
}

.Board-cell.dark.selected {
  background: #555555;
}

.Board-cell.light.selected {
  background: #cccccc;
}

.Board-cell.victory {
  color: #60ff60;
  font-weight: bold;
}
